<div class="container">

    <header>
        <h1>Bem vindo ao X-Express<span>Grupo Luta Pela Vida!!!</span></h1>
    </header>
    <div class="main clearfix">
        <nav class="nav">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                          <i class="fas fa-headset"></i>
          </span>
                        <span>Atendimento</span>
                    </a>
                </li>



                <li>
                    <a href="#">
                        <span class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </span>
                        <span>Contribuintes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
            <i aria-hidden="true" class="fas fas fa-motorcycle"></i>
          </span>
                        <span>Mensageiro</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                          <i class="fas fa-chart-line"></i>
          </span>
                        <span>Relatorio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
            <i aria-hidden="true" class="fas fa-percent"></i>
          </span>
                        <span>Reprocesso</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
            <i aria-hidden="true" class="fas fa-sign-out-alt"></i>
          </span>
                        <span>Sair</span>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</div>
<!-- /container -->